{% extends 'registration/base.html' %}
{% block title %}Delete Article{% endblock %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">Delete Article</h3>
        </div>
        <div class="card-body py-4">
        <form method="POST">
            {% csrf_token %}
            <p class="py-2">Are you sure want delete "{{object}}" from "{{object.author.get_full_name}}" ?</p>
            <input type="submit" value="Confirm" class="btn btn-success">
        </form>
        </div>
    </div>
</div>
{% endblock %}