{% extends 'registration/base.html' %}
{% block title %}Password Changed{% endblock %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">Password Changed</h3>
        </div>
        <div class="card-body py-4">
        <form method="POST">
            {% csrf_token %}
            <p class="py-2">Your password changed successfully</p>
        </form>
        </div>
    </div>
</div>
{% endblock %}